/* ==========FONTES========== */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==========ALL========== */

*,
html {
  color: #f5f5f5;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #f5f5f5;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

/* ==========HEADER========== */
header {
  width: 99vw;
  height: 80px;
  background-color: #1c1c1c;
  color: #fff;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .header1 {
  width: calc(89% - 100px);
  height: 100%;
  display: flex;
  padding: 0 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .header2 {
  width: calc(11% - 50px);
  height: 100%;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 2.3rem;
  font-weight: 600;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header li {
  margin-left: 45px;
  font-size: 1.4rem;
}

header a {
  font-size: 1.4rem;
}

header button {
  width: 134px;
  height: 60%;
  background-color: #292929;
  border-radius: 10px;
  border: 2px solid #3e77e7;
  font-size: 1.5rem;
}

/* ==========MAIN========== */

main .back {
  width: calc(99vw - 200px);
  height: calc(100vh - 300px);
  padding: 110px 100px;
  background-color: #141414;
  display: flex;
  flex-direction: row;
}

main .back1 {
  width: calc(99vw - 200px);
  height: calc(100vh - 220px);
  padding: 110px 100px;
  background-color: #141414;
  display: flex;
  flex-direction: row;
}

main .back2 {
  width: calc(99vw - 200px);
  height: calc(100vh - 220px);
  padding: 110px 100px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
}

main .back3 {
  width: calc(99vw - 140px);
  height: calc(100vh - 160px);
  padding: 80px 70px;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .prin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 40px;
  width: 50%;
  height: 100%;
}

main .prin_foto {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prin_foto img {
  width: 90%;
  height: 90%;
}

main span {
  color: #3e77e7;
}

.prin h2 {
  font-size: 82px;
  margin: 15px 0;
  font-weight: 600;
}

.prin h3 {
  font-size: 36px;
  margin: 15px 0;
}

.prin h4 {
  font-size: 32px;
  margin: 15px 0;
}

.prin .botoes {
  margin: 20px 0;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

main .formato {
  width: 28%;
  height: 80%;
  font-size: 26px;
  text-align: center;
}

main .download {
  background-color: #3e77e7;
  border-radius: 5px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .contato {
  border-radius: 5px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
}

main .prin2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 90px;
  width: 60%;
  height: 100%;
}

.prin2 h5 {
  font-size: 64px;
  font-weight: 600;
  margin: 0 5px 30px 5px;
}

main .txt_sobre {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}

.prin2 h6 {
  font-size: 40px;
  font-weight: 600;
  margin: 90px 0 25px 5px;
}

.container_perfil img {
  width: 400px;
  height: 400px;
  border-radius: 230px;
  margin: 27px 0 0 0;
}

main .container_perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(40% - 90px);
  height: 100%;
  padding-right: 90px;
}

.back3 .tit_projetos {
  width: 100%;
  height: 130px;
  font-size: 66px;
  font-weight: 600;
  line-height: 77px;
  text-align: center;
}

.back3 .projetos {
  width: 100%;
  height: calc(100% - 180px);
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projetos .container_projetos {
  width: calc(23% - 50px);
  height: calc(84% - 70px);
  background-color: #202020;
  border-radius: 10px;
  padding: 35px 25px;
}

.projetos img {
  margin-top: 15px;
  height: 195px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 3px 15px -2px rgba(212, 212, 212, 0.1);
  -webkit-box-shadow: 0px 3px 15px -2px rgba(212, 212, 212, 0.1);
  -moz-box-shadow: 0px 3px 15px -2px rgba(212, 212, 212, 0.1);
}

.container_projetos h6 {
  width: 100%;
  height: 80px;
  margin: 30px 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.container_projetos .botoes {
  padding-top: 30px;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 47%;
  height: 40px;
  background: linear-gradient(180deg, #3e77e7 0%, #245ccb 100%);
  box-shadow: 0px 0.75px 1.5px rgba(245, 245, 245, 0.1);
  border-radius: 3.75px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.git {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 47%;
  height: 40px;
  background: #292929;
  border: 0.923529px solid #ffffff;
  box-shadow: 0px 0.713636px 1.42727px rgba(245, 245, 245, 0.1);
  border-radius: 3.75px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

main .tecno {
  width: calc(99vw - 200px);
  height: calc(100vh - 220px);
  padding: 110px 100px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
}

.tecno .tit_tecnologias {
  width: 100%;
  height: 130px;
  font-size: 66px;
  font-weight: 600;
  line-height: 77px;
  text-align: center;
}

.tecno .logo_tecno {
  width: 100%;
  height: calc(100% - 130px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tecno .logos {
  height: 43%;
  width: 70%;
}

.tecno .logos2 {
  margin-top: -17px;
  height: 50%;
  width: 84%;
}

.box_logos {
  height: 100%;
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt_logo {
  margin-top: 25px;
  font-size: 35px;
  font-weight: 600;
  color: #e0e0e0;
}

.txt_logo2 {
  margin-top: 9px;
  font-size: 35px;
  font-weight: 600;
  color: #e0e0e0;
}

.back1 .contatos {
  width: calc(50% - 340px);
  height: calc(100% - 80px);
  padding: 40px 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back1 .form {
  width: 50%;
  height: 100%;
}

.contatos h5 {
  font-size: 68px;
  font-weight: 600;
}

.contatos p {
  font-size: 32px;
  text-align: center;
}

.contatos span {
  color: #3e77e7;
}

.contatos .box_sociais {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.box_sociais a,
img {
  height: 60px;
  width: 60px;
  margin-top: 30px;
}

.css-input {
  width: 70%;
  height: 60px;
  font-size: 24px;
  border-width: 1px;
  border-color: #3e77e7;
  background-color: #292929;
  color: #e0e0e0;
  border-style: solid;
  border-radius: 5px;
}

.enviar {
  background-color: #3e77e7;
  border: none;
  margin-top: 25px;
  width: 220px;
  height: 60px;
  border-radius: 10px;
  font-size: 24px;
}

.msg {
  width: 70%;
  height: 160px;
  font-size: 24px;
  border-width: 1px;
  border-color: #3e77e7;
  background-color: #292929;
  color: #e0e0e0;
  border-style: solid;
  border-radius: 5px;
}

.infos_contat {
  margin-top: 110px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form label {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
  color: #e0e0e0;
  margin: 25px 0 7px 0;
}

/* ==========FOOTER========== */

footer {
  width: 99vw;
  height: 100px;
  background-color: #1c1c1c;
  color: #fff;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer p {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

footer span {
  color: #3e77e7;
}

@media (min-width: 2225px) {
  header {
    width: calc(99vw + 10px);
  }

  main .back {
    width: calc(99vw - 190px);
  }

  main .back1 {
    width: calc(99vw - 190px);
  }

  main .back2 {
    width: calc(99vw - 190px);
  }

  main .back3 {
    width: calc(99vw - 130px);
  }

  main .tecno {
    width: calc(99vw - 190px);
  }

  .tecno .logos {
    height: 55%;
  }

  .tecno .logos2 {
    margin-top: 25px;
    height: 62%;
  }

  .txt_logo2 {
    margin-top: 0px;
    font-size: 35px;
  }

  .prin_foto img {
    height: 100%;
  }

  header .header1 {
    padding: 0 20px 0 70px;
  }

  .container_perfil img {
    width: 500px;
    height: 500px;
    border-radius: 270px;
  }

  .projetos .container_projetos {
    width: calc(22% - 50px);
    height: 85%;
    padding: 35px 25px;
  }

  footer {
    width: calc(99vw + 10px);
  }
}
